@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    appearance: none;
    margin: 0; padding: 0; box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

cite > strong { font-weight: 700; }

body {
    height: 100vh; 
    width: 100vw;
    background: #f6f6f6;
    display: grid; 
    place-content: center;
    place-items: center;
    row-gap: 2rem;
}